<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
</head>

<div>
  <form action="/login">
    <button type="submit" id="logout">Log Out</button>
  </form>
</div>

<p>Your Profile</p>
<h1 class="title">{{title}}</h1>

  <form action="/posts">
    <button type="submit" id="home">Home</button>
  </form>

  <form action="/profile/edit">
    <button type="submit" id="edit">Edit Profile</button>
  </form>

<body>
  <ul class="profile" text-align="center">
    <section>
      {{user.title}} {{user.firstname}} {{user.lastname}}
    </section>
    <section>
      {{user.Gender}}
    </section>
    <section>
      {{user.Birthday}}
    </section>
    <section>
      {{user.About}}
    </section>
  </ul>


  <div class="fixed">
  </div>

  </body>

<h2><b>Your posts</b></h2>
<form id="new-post-form" action="/profile" method="post">
  <label for="message">New post: </label>
  <input id="message" type="text" name="message" value="">
  <button type="submit" value="Share">Share</button>
</form>

<br>

<div class="tlposts" style="height: 500px; overflow:auto;">
<ul class="posts">
  {{#each posts}}
  <li><b>{{this.message}}</b></li>
  <li><small><i>{{this.date}}</i></small></li>
  <br>
  {{/each}}
</ul>
</div>
