<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <iframe width="1px" height="1px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/73200747&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</head>


<div>
  <form action="/">
    <button type="submit" id="logout">Log Out</button>
  </form>
</div>




<h1 class="title">{{title}}</h1>

<p>Your Profile</p>
  <div class="alignbutton">

  <form action="/posts">
    <button type="submit" id="alignbutton">Home</button>
  </form>
</div>

<div class="alignbutton">
  <form action="/profile/edit">

    <button type="submit" id="edit">Edit Profile</button>

  </form>
</div>

<body>
<div class="tlposts", class="text">

    <section>
      {{user.title}} {{user.firstname}} {{user.lastname}}
    </section>
    <br>
    <section>
      <img src="buffer" alt="pic">
    </section>
    <br>
    <section>
      {{user.Gender}}
    </section>
    <br>
    <section>
      {{user.Birthday}}
    </section>
    <br>
    <section>
      {{user.About}}
    </section>

</div>


  <!-- <div class="fixed">
  </div> -->

  </body>


<h2><b>Your posts</b></h2>
<form id="new-post-form" action="/profile" method="post">
  <label for="message">New post: </label>
  <input id="message" type="text" name="message" value="">
  <button type="submit" value="Share">Share</button>
</form>

<br>

<div class="tlposts" style="height: 500px; overflow:auto;">

  {{#each posts}}
  <li><b>{{this.message}}</b></li>
  <li><small><i>{{this.date}}</i></small></li>
  <form id="delete-post" action="/profile/delete" method="post">
    <input type="hidden" name="delpost" value="{{this._id}}">
    <button type="submit" value="donut">Delete post</button>
  </form>
  <br>
  {{/each}}

</div>
