<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <iframe width="1px" height="1px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/273203138&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</head>

<div>
  <form action="/logout">
    <button class="button button1" class="alignbutton" type="submit" id="logout">Log Out</button>
  </form>
</div>


<img src="../Logo/LOGO.png" alt="Icebook logo">
    <!-- <h1 class="title">{{title}}</h1> -->

    <h1 class="title">❄️🥶Timeline🥶❄️</h1>

      <div class="alignbutton">
      <form action="/posts">
        <button class="button button1" class="alignbutton" type="submit" id="home">Home</button>
      </form>
    </div>
    <div class="alignbutton">
      <form action="/profile">
        <button class="button button1" class="alignbutton" type="submit" id="profile">My Profile</button>
      </form>
    </div>
    <br>
    <br>

    <!-- <h1>Timeline</h1> -->
    <div class="fixed">
      <form id="new-post-form" action="/posts" method="post">
        <label for="message">New post: </label>
        <input id="message" type="text" name="message" value="">

        <button class="button button1" class="alignbutton" type="submit" value="Share post">Share</button>

      </form>
    </div>

    <form id="new-post-form1" action="/posts" method="post">
      <label for="message">New post: </label>
      <input id="message" type="text" name="message" value="">
      <button class="button button1" class="alignbutton" type="submit" value="Share post">Share</button>
    </form>

    <br>

    <div class="tlposts" style="height: 500px; overflow:auto;" >
        {{#each posts}}
        <div class="postbox" style="overflow-wrap: break-word;">
          <div class="postbox2" style="overflow-wrap: break-word;">
          <br>

        <b>{{this.ownername}}</b> posted:
        <br>
        <br>
        {{this.message}}
        <br>
        <br>
        <small>on <i>{{this.date}} </i></small>
        <br>
        <br>
      </div>
      <div class="postbox2" style="overflow-wrap: break-word;">
        <br>
        Comments:
      <br>
      <br>
      <div class="postbox2" style="overflow-wrap: break-word;">
        {{#each this.comments}}
        {{this.owner}} commented: {{this.message}}
        <br>
        <br>
        <small> <i>{{this.date}} </i></small>
        <br>
        <br>
        </div>
<div class="postbox2" style="overflow-wrap: break-word;">
        {{/each}}
      </div>
      <br>
        <div class="alignbutton">
        <form id="comment-post" action="/posts/comment" method="post">
          <input type="hidden" name="post_id" value="{{this._id}}">
          <input type="text" name="comment"> <button class="button button1" type="submit" value="comment">Comment</button>
        </form>
        </div>
        <div class="alignbutton">
        <form id="like-post" action="/posts/like" method="post">
          <input type="hidden" name="post_id" value="{{this._id}}">
          <button class="button button1" type="submit" title="{{this.liked_by}}">🧊{{this.likes}}</button>
        </form>
        </div>
        <br>
        <br>
        {{/each}}

        </div>
    </div>
    </div>
  </body>
