<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
</head>

<div>
  <form action="/login">
    <button type="submit" id="logout">Log Out</button>
  </form>
</div>

<p>Timeline</p>
<h1> IceBook </h1>

    <h1 class="title">{{title}}</h1>

    <body>
      <form action="/posts">
        <button type="submit" class="button-group" id="home">Home</button>
      </form>

      <form action="/profile">
        <button type="submit" id="profile">My Profile</button>
      </form>

    <!-- <h1>Timeline</h1> -->

    <form id="new-post-form" action="/posts" method="post">
      <label for="message">New post: </label>
      <input id="message" type="text" name="message" value="">
      <button type="submit" value="Share post">Share</button>
    </form>

    <br>

    <div class="tlposts" style="height: 500px; overflow:auto;" >
      <ul class="posts">
        {{#each posts}}
        <li><b>{{this.owner}}</b> posted:</li>
        <li>{{this.message}} </li>
        <li><small>on <i>{{this.date}} </i></small></li>
        <br>
        <form id="like-post" action="/posts/like" method="post">
          <input type="hidden" name="likepost" value="{{this._id}}">
          <button type="submit" title="{{this.liked_by}}">👍{{this.likes}}</button>

        </form>
        {{/each}}
      </ul>
    </div>
  </body>
